*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f2f2f2;
}

.image-slider{
  max-width: 100%;
  height: 400px;
}
.title{
width: 100%; 
font-size:20px;
font-weight: bold;
}
a{
  text-decoration: none !important;
}
.badge-show {
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding: 8px 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge {
  width: 16px;
  height: 16px;
  /* padding-left: 8px;
  padding-right: 9px; */
  /* -webkit-border-radius: 9px;
  -moz-border-radius: 9px; */
  border-radius: 16px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 2px 2px;
    vertical-align: top;
    margin-left: -15px; 
    margin-top: 2px; 

}
.card-product{
  border: none;
  outline: none;
  background-color:#fff;
  border-radius: 20px;
}
.card-product:hover{
  transform: translateY(-15px);
  transition: transform .3s;
}
.small_desc{
  font-size: 16px;
  color:#cbcbcb;
}
.info{
  line-height: 17px;
}
.cost span{
  color: hsl(249, 93%, 52%);
  font-weight: bold;
  font-size: 26px;
}
.btn_add_cart{
  background-color:#cbcbcb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
}
.btn_add_cart i{
  color: #fb35fb ;
}
h5 {
  font-size: 1.8vh;
}
#lbl-original-price{
  font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 0px; 
    margin-top: 0px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.badge-original-price{
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-original-price span{
  font-size: 20px;
}
.order-details{
  width: 40%;
}
.search-bar{
  width: 40%;
  margin-left: 2%;
}

