*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f2f2f2;
}

.image-slider{
  max-width: 100%;
  height: 400px;
}
.title{
width: 100%; 
font-size:20px;
font-weight: bold;
}
a{
  text-decoration: none !important;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 18px; 
    margin-top: -35px; 
}
.card-product{
  border: none;
  outline: none;
  background-color:#fff;
  border-radius: 20px;
}
.card-product:hover{
  transform: translateY(-15px);
  transition: transform .3s;
}
.small_desc{
  font-size: 13px;
  color:#cbcbcb;
}
.info{
  line-height: 17px;
}
.cost span{
  color: #fb35fb;
  font-weight: bold;
  font-size: 20;
}
.btn_add_cart{
  background-color:#cbcbcb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
}
.btn_add_cart i{
  color: #fb35fb ;
}
h5 {
  font-size: 1.8vh;
}